<div class="content">
    <div class="right">

        <h2>Soy un desarrollador web apasionado y dedicado con 21 años de experiencia en la creación y optimización de sitios web dinámicos y aplicaciones web. Mi enfoque se centra en la usabilidad, la funcionalidad y la estética, asegurando que cada proyecto no solo cumpla con las expectativas del cliente, sino que también ofrezca una experiencia de usuario excepcional.</h2>

    </div>
    <div class="left">
        <img src="/assets/foto.JPG" alt="Profile Image">
    </div>
    
</div>