<section>
  <img src="assets/js-present.png" alt="">
  <img src="assets/angular-present.png" alt="">
  <img src="assets/html-avility.webp" alt="">
  <img src="assets/java-present.webp" alt="">
  <img src="assets/node-avility.jpg" alt="">
</section>
<div class="space">
  <div class="avatar">
    <img class="avatar_img" src="assets/my-face.jpg" alt="">
  </div>
</div>
<div class="content">
  <h1>"Marco Amador - Desarrollador Full Stack"</h1>
  <h2>Soy Marco Amador, desarrollador Full Stack en el desarrollo de aplicaciones web y móviles. Especializado en
    JavaScript, php, TypeScript, Node.js y Java, he trabajado en una variedad de proyectos desde e-commerce hasta
    aplicaciones de gestión empresarial. Apasionado por la tecnología y la resolución de problemas complejos, siempre
    busco nuevas oportunidades para aprender y aplicar mis conocimientos en entornos dinámicos y colaborativos.</h2>
</div>
